//tipografia
$texto-title:"Roboto", sans-serif;

//color
$negro:#000;
$blanco:#fff;
$verde:#0dd33fa4;
$borde:#ece5e5aa;
$gris:#b8b8b8e4;
$gris-claro:#f2f1f1d6;
$naranja:#f28705;
$transparente:#ffffff8f;

//Media
$telefono:480px;
$tablet:500px;
$laptop:992px;
$desktop:1280px;